---
import * as styles from "./subscribe.css";
---

<form
  action="https://buttondown.email/api/emails/embed-subscribe/notesfromeva"
  method="post"
  class={styles.form}
>
  <img
    class={styles.pixelArt}
    src="/images/dialogue/eva-neutral.svg"
    alt="Eva is feeling fine."
  />
  <div class={styles.inputWrapper}>
    <input
      class={styles.input}
      type="email"
      name="email"
      id="bd-email"
      placeholder="Email"
    />
    <button type="submit" class={styles.button}>Subscribe</button>
  </div>
</form>
