---
import Grid from "../Grid/Grid.astro";
import Stack from "../Stack/Stack.astro";
import * as styles from "./subscribe.css";
---

<div class={styles.subscribe}>
  <Grid>
    <Stack spacing="none">
      <strong>Notes From Eva</strong>
      <small>
        Occasionally I share thoughts and observations about tech, design, and
        things that live outside a screen.
      </small>
    </Stack>
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/notesfromeva"
      method="post"
      class={styles.form}
    >
      <img
        class={styles.pixelArt}
        src="/images/dialogue/eva-neutral.svg"
        alt="Eva is feeling fine."
      />
      <div class={styles.inputWrapper}>
        <input
          class={styles.input}
          type="email"
          name="email"
          id="bd-email"
          placeholder="Email"
        />
        <input type="submit" value="Subscribe" class={styles.button} />
      </div>
    </form>
  </Grid>
</div>
