---
import { RelativeDate } from "../RelativeDate/RelativeDate";
import Stack from "../Stack/Stack.astro";
import * as styles from './note-link.css';

interface Props {
  slug: string;
  title: string;
  date: Date;
}

const { slug, title, date } = Astro.props;
---

<!-- Use smartypants to convert quotes -->
<a class={styles.noteLink} href={`/notes/${slug}`}>
  <Stack spacing="none">
    <span class={styles.title}>{title}</span>
    <RelativeDate date={date} prefix="" />
  </Stack>
</a>
