---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import PostLink from "src/components/PostLink.astro";

import Center from "../components/Center.astro";
import PageHeader from "../components/PageHeader.astro";
import { smartquotes } from "../helpers/helpers";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => {
  return dayjs(b.data.datePublished).isBefore(dayjs(a.data.datePublished))
    ? -1
    : 1;
});

const experiments = await getCollection("experiments");
experiments.sort((a, b) => {
  return dayjs(b.data.datePublished).isBefore(dayjs(a.data.datePublished))
    ? -1
    : 1;
});

const title = "The Garden";
const description = "Every garden starts somewhere. This is mine.";
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  <PageHeader title={title} description={description} />
  <Center>
    <section>
      <h2>Writing</h2>
      {
        posts.map((post) => (
          <PostLink
            url={`posts/${post.id}`}
            title={smartquotes(post.data.title)}
            description={smartquotes(post.data.description)}
            datePublished={post.data.datePublished}
            features={post.data.features}
          />
        ))
      }
    </section>
    <section>
      <h2>Experiments</h2>
      {
        experiments.map((experiment) => (
          <PostLink
            url={experiment.data.url}
            title={experiment.data.title}
            description={experiment.data.description}
            datePublished={experiment.data.datePublished}
            features={experiment.data.features}
          />
        ))
      }
    </section>
  </Center>
</BaseLayout>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    & + section {
      margin-block-start: var(--space-3xl);
    }
  }
</style>
