---
import { db, Guestbook as GuestbookDB } from "astro:db";
import dayjs from "dayjs";
import Center from "src/components/Center.astro";

import Notecard from "../components/Notecard/Notecard.astro";
import { NotecardComposer } from "../components/Notecard/NotecardComposer";
import BaseLayout from "../layouts/BaseLayout.astro";

// Server-render page
export const prerender = false;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const author = formData.get("author");
  const content = formData.get("content");
  const url = formData.get("url");
  const theme = formData.get("theme");
  const honeypot = formData.get("special");

  if (
    !honeypot &&
    typeof author === "string" &&
    typeof content === "string" &&
    content.length <= 140 &&
    typeof url === "string" &&
    typeof theme === "string"
  ) {
    await db
      .insert(GuestbookDB)
      .values({ author, content, url, theme: parseInt(theme) });

    return Astro.redirect("/guestbook");
  }
}

const guestbook = await db.select().from(GuestbookDB);
guestbook.sort((a, b) =>
  dayjs(b.timestamp).isBefore(dayjs(a.timestamp)) ? -1 : 1
);

const title = "Guestbook";
const description = "Leave a message in eva.town.";
---

<BaseLayout
  title={title}
  description={description}
  includeFooter
  padBottom
  ogImage="/og/guestbook.png"
  ogAlt="A collection of hand-drawn postcards. The middle one has a flower drawn with a green highlighter."
>
  <div class="notecards">
    <NotecardComposer client:load />
    {
      guestbook.map(({ author, url, content, timestamp, theme }) => (
        <Notecard
          author={author}
          url={url}
          content={content}
          timestamp={timestamp}
          theme={theme}
        />
      ))
    }
  </div>
  <Center>
    <div class="postscript">
      You've reached the end! <a href="/posts/design-outside-the-computer"
        >Learn how I created this guestbook.
      </a>
    </div>
  </Center>
</BaseLayout>

<style lang="scss">
  .notecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-2xl);
    padding: var(--space-xl);
    overflow: hidden;
  }

  .postscript {
    text-align: center;
    padding-block-start: var(--space-xl);
  }
</style>
