---
import { SamStickers, Synth } from "../components";
import { Layout } from "../layouts";
import * as styles from "./index.css";
---

<Layout
  title="Eva Decker"
  description="Eva Decker is a designer and software engineer based in Brooklyn, New York."
>
  <header class={styles.header}>
    <h1>Eva designs and builds things for the&nbsp;web.</h1>
    <p class={styles.subtitle}>
      I have experience creating usable, accessible, developer-friendly design
      systems for companies like Cityblock, Dropbox, and Swiftype.
    </p>
    <p class={styles.subtitle}>
      I live in Brooklyn, NY, with my tabby, <span class={styles.noBreak}
        ><button class={styles.samButton} data-sam-button type="button"
          >Samwise</button
        >.</span
      > In my free time I play piano.
    </p>
    <SamStickers client:visible />
    <Synth client:only />
  </header>
</Layout>

<script>
  import { addSam } from "../stores/sam";
  const samButton = document.querySelector("[data-sam-button]");
  samButton?.addEventListener("click", () => addSam());
</script>
