---
import { Image } from "astro:assets";

import Center from "./Center.astro";
import OGFrame from "./OGFrame.astro";
import { RelativeDate } from "./RelativeDate/RelativeDate";
import Stack from "./Stack.astro";

interface Props {
  slug: string;
  title: string;
  description?: string;
  img?: ImageMetadata;
  imgAlt?: string;
  datePublished?: Date;
  dateModified?: Date;
}

const { title, description, img, imgAlt, slug, datePublished, dateModified } =
  Astro.props;
---

<header class="page-header">
  {
    img && imgAlt && (
      <div class="page-image">
        <Image src={img} alt={imgAlt} transition:name={`${slug} page-image`} />
      </div>
    )
  }
  <Center>
    <Stack>
      <Stack spacing="tight">
        <h1 itemprop="name" class="page-title">
          {title}
        </h1>
        {description && <p class="page-subtitle">{description}</p>}
      </Stack>
      {
        datePublished && (
          <Stack>
            <RelativeDate
              date={datePublished}
              prefix="Published"
              icon="seedling"
              client:load
            />
            {dateModified && (
              <RelativeDate
                date={dateModified}
                prefix="Last tended"
                icon="sparkling"
                client:load
              />
            )}
          </Stack>
        )
      }
    </Stack>
  </Center>
</header>

<style>
  .page-header {
    padding-block-end: 2em;
  }

  .page-image {
    background-color: var(--pink-3);
  }

  .page-image img {
    width: 100%;
    mix-blend-mode: multiply;
  }

  :global(.dark) .page-image img {
    mix-blend-mode: screen;
  }

  .page-title {
    margin-block-start: 1em;
    text-wrap: balance;
  }

  .page-subtitle {
    font-size: var(--text-h4);
    font-family: var(--font-sans);
    font-variation-settings:
      "wdth" var(--font-width-normal),
      "wght" var(--font-weight-medium);
    line-height: var(--line-height-h4);
    text-wrap: balance;
  }
</style>
