---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { smartquotes } from "../helpers/helpers";
import { Icon } from "./Icon/Icon";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const { title, description, repo, img, video, cta, tags } = project.data;
---

<div class="project">
  {
    (img ?? video) && (
      <div class="media">
        {img && <Image src={img.src} alt={img.alt} class="img" />}
        {video && (
          <video
            autoplay
            loop
            muted
            playsinline
            preload="none"
            poster={video.poster}
          >
            <source src={video.src} type="video/mp4" />
          </video>
        )}
      </div>
    )
  }
  <div class="details">
    <div class="details-text">
      <div class="title-and-tags">
        <h3 class="title">{title}</h3>
        <div class="tags">
          {tags.map((tag) => <span class="tag">{tag}</span>)}
        </div>
      </div>
      <div class="description">
        {smartquotes(description)}
      </div>
    </div>
    {
      (cta || repo) && (
        <footer>
          {cta && (
            <a
              class:list={[
                "button",
                "cta",
                { disabled: cta.url === undefined },
              ]}
              href={cta.url}
              target="_blank"
              aria-disabled={cta.url === undefined}
              title="Visit the site"
            >
              {cta.text}
              {cta.url && <Icon icon="externalLink" size="20" />}
            </a>
          )}
          {repo && (
            <a
              class="button repo"
              href={`https://github.com/${repo}`}
              target="_blank"
              title="View source code on GitHub"
            >
              <Icon icon="github" size="20" />
            </a>
          )}
        </footer>
      )
    }
  </div>
</div>

<style lang="scss">
  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-m);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    width: 100%;
  }

  .details-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  .title-and-tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (width < 600px) {
      align-items: flex-start;
      flex-direction: column;
      gap: var(--space-s);

      .tags {
        order: -1;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: var(--space-2xs);
    font-size: var(--step--1);
    color: var(--gray-11);

    .tag {
      background-color: var(--gray-3);
      padding-inline: var(--space-2xs);
      border-radius: var(--radius-xs);
    }
  }

  .media {
    background-color: var(--gray-3);
    width: 100%;
    max-width: 100%;
    border-radius: var(--radius-s);
    overflow: hidden;
    line-height: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid var(--gray-a3);
      border-radius: var(--radius-s);
      pointer-events: none;
    }
  }

  h3 {
    font-size: var(--step-1);
  }

  .description {
    line-height: 1.3;
  }

  footer {
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: var(--space-s);
  }

  .button {
    font-weight: var(--font-weight-medium);
    border: 1px solid var(--gray-6);
    color: var(--gray-11);
    padding-inline: var(--space-m);
    padding-block: var(--space-2xs);
    border-radius: var(--radius-s);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    background-color: var(--gray-3);
    border-color: var(--gray-a2);

    &.disabled {
      opacity: 0.5;
    }

    &.cta {
      flex: 1;
    }
  }

  .button:not(.disabled):hover {
    background-color: var(--gray-4);
    border-color: var(--gray-6);
    color: var(--gray-12);
  }
</style>
