---
import dayjs from "dayjs";

import { smartquotes } from "../helpers/helpers";
import { Icon } from "./Icon/Icon";
import Picture from "./Picture.astro";

interface Props {
  title: string;
  description: string;
  datePublished: Date;
  url: string;
  repo?: string;
  img?: ImageMetadata[];
  imgAlt?: string;
}

const { title, description, datePublished, url, repo, img, imgAlt } =
  Astro.props;

const date = dayjs(datePublished).format("MMMM YYYY");
---

<div class="project">
  {
    img && imgAlt && (
      <a class="img" href={url}>
        <Picture img={img} imgAlt={imgAlt} />
      </a>
    )
  }
  <div class="details">
    <a class="title" href={url}>
      <h2>{title}</h2>
    </a>
    <div class="description">
      {smartquotes(description)}{" "}
      <time class="date" datetime={datePublished.toString()}>{date}</time>
    </div>
    <footer class="links">
      <a class="link" href={url}>
        <Icon icon="link" size="small" />
        <span class="url">{url.replace(/^https?:\/\//, "")}</span>
      </a>
      {
        repo && (
          <a class="link" href={`https://github.com/${repo}`}>
            <Icon icon="github" size="small" />
            <span class="url">{repo}</span>
          </a>
        )
      }
    </footer>
  </div>
</div>

<style lang="scss">
  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-l);
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-s);
    width: 100%;
  }

  .img {
    background-color: var(--mauve-3);
    border-radius: var(--radius-m);
    overflow: hidden;
    width: 100%;

    &:hover {
      background-color: var(--pink-4);
    }
  }

  .description {
    line-height: 1.4;
  }

  .date {
    color: var(--mauve-11);

    &::before {
      content: "— ";
      white-space: pre;
    }
  }

  .links {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    column-gap: var(--space-m);
  }

  .link {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    color: var(--mauve-11);
    padding-block: var(--space-2xs);
    max-width: 100%;
    line-height: 1.1;

    &:hover {
      color: var(--mauve-12);
      text-decoration: underline;
      text-decoration-color: var(--mauve-7);
      text-underline-offset: 0.1em;
    }

    .url {
      word-wrap: break-word;
      min-width: 1%;
    }
  }
</style>
