---
import { Image } from "astro:assets";

import ProjectInfoBlock from "./ProjectInfoBlock.astro";

interface Props {
  timeline?: {
    start: string;
    end: string;
  };
  roles?: string[];
  tech?: string[];
  website?: string;
  repo?: string;
  collaborators?: Array<{
    name: string;
    img: ImageMetadata;
    url: string;
  }>;
}

const { timeline, roles, tech, website, repo, collaborators } = Astro.props;
---

<dl class="project-info">
  {
    timeline && (
      <ProjectInfoBlock title="Timeline">
        {timeline.start}&hairsp;&ndash;&hairsp;{timeline.end}
      </ProjectInfoBlock>
    )
  }
  {
    roles && (
      <ProjectInfoBlock title="My Role">
        <ul>
          {roles.map((role) => (
            <li>{role}</li>
          ))}
        </ul>
      </ProjectInfoBlock>
    )
  }
  {
    collaborators && (
      <ProjectInfoBlock title="Collaborators">
        <ul>
          {collaborators.map((collaborator) =>
            // Condense whitespace
            // prettier-ignore
            <li><a class="collaborator" href={collaborator.url} target="_blank"><Image src={collaborator.img} alt={`A photo of ${collaborator.name}`} class="avatar" />{collaborator.name}</a></li>
          )}
        </ul>
      </ProjectInfoBlock>
    )
  }
  {
    tech && (
      <ProjectInfoBlock title="Tech">
        <ul>
          {tech.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
      </ProjectInfoBlock>
    )
  }
  {
    website && (
      <ProjectInfoBlock title="Website">
        <ul>
          <li>
            <a href={website} target="_blank">
              {website.split("//")[1]}
            </a>
          </li>
        </ul>
      </ProjectInfoBlock>
    )
  }
  {
    repo && (
      <ProjectInfoBlock title="Source">
        <ul>
          <li>
            <a href={`https://github.com/${repo}`} target="_blank">
              View on GitHub
            </a>
          </li>
        </ul>
      </ProjectInfoBlock>
    )
  }
</dl>

<style lang="scss">
  .project-info {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-5);
    border-radius: var(--radius-m);
    padding: var(--space-l);
    gap: var(--space-m);

    ul,
    li {
      all: unset;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--space-2xs);
    }

    li:not(:last-child)::after {
      content: ",";
      color: var(--gray-11);
    }
  }

  .collaborator {
    display: inline;
    padding-left: calc(var(--space-l) + var(--space-2xs));
    position: relative;
  }

  .avatar {
    background: var(--gray-4);
    width: var(--space-l);
    height: var(--space-l);
    border-radius: var(--radius-full);
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
</style>
