---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"work">;
}

const { project } = Astro.props;

const { data, render } = project;

const { title, img, video, timeline } = data;
const { Content } = await render();
---

<div class="project">
  <div class="details">
    <time>{timeline.start}&ndash;{timeline.end}</time>
    <h2>{title}</h2>
    <Content />
  </div>
  {
    (img ?? video) && (
      <div class="media">
        {img && <Image src={img.src} alt={img.alt} class="img" />}
        {video && (
          <video
            autoplay
            loop
            muted
            playsinline
            preload="none"
            poster={video.poster}
          >
            <source src={video.src} type="video/mp4" />
          </video>
        )}
      </div>
    )
  }
</div>

<style lang="scss">
  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: var(--space-l);
  }

  .details time {
    color: var(--gray-11);
  }

  .details h2 {
    margin-block: var(--space-xs) var(--space-s);
  }

  .details :global(p) {
    font-size: var(--step-1);
    line-height: var(--line-height-snug);
  }

  .media {
    width: 100%;
    max-width: 100%;
    line-height: 0;
    position: relative;
    border-radius: var(--radius-m);
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid var(--gray-a3);
      border-radius: var(--radius-m);
    }
  }
</style>
