---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { Icon } from "./Icon/Icon";
import ProjectInfoBlock from "./ProjectInfoBlock.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { timeline, roles, collaborators, tech, repo } = project.data;
---

<dl class="project-info">
  {timeline && <ProjectInfoBlock title="Timeline">{timeline}</ProjectInfoBlock>}
  {
    roles && (
      <ProjectInfoBlock title="My Role">
        <ul>
          {roles.map((role) => (
            <li>{role}</li>
          ))}
        </ul>
      </ProjectInfoBlock>
    )
  }
  {
    collaborators && (
      <ProjectInfoBlock title="Collaborators">
        <ul>
          {collaborators.map((collaborator) => (
            <li>
              <a
                class="collaborator"
                href={collaborator.url}
                target="_blank"
                rel="noopener"
              >
                <Image
                  src={collaborator.img}
                  alt={`A photo of ${collaborator.name}`}
                  class="avatar"
                />
                <span class="truncate">{collaborator.name}</span>
              </a>
            </li>
          ))}
        </ul>
      </ProjectInfoBlock>
    )
  }
  {
    tech && (
      <ProjectInfoBlock title="Tech">
        <ul>
          {tech.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
      </ProjectInfoBlock>
    )
  }
  {
    repo && (
      <ProjectInfoBlock title="Source">
        <a href={`https://github.com/${repo}`} target="_blank" rel="noopener">
          <Icon icon="github" size="20" /> Github{" "}
          <Icon icon="externalLink" size="16" />
        </a>
      </ProjectInfoBlock>
    )
  }
</dl>

<style lang="scss">
  .project-info {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-5);
    border-radius: var(--radius-m);
    padding: var(--space-l);
    gap: var(--space-s);

    @media (width > 800px) {
      width: 420px;
      float: right;
      margin-left: var(--space-xl);
      margin-bottom: var(--space-xl);
    }

    ul,
    li {
      all: unset;
    }

    li {
      display: block;
    }

    a {
      display: inline-flex;
      align-items: center;
      gap: var(--space-xs);
      text-decoration: none;
    }
  }

  .avatar {
    background: var(--gray-4);
    width: 20px;
    height: 20px;
    border-radius: var(--radius-full);
  }

  .truncate {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
