---
import { Image } from "astro:assets";

interface Props {
  items: Array<{
    id: string;
    title: string;
    description?: string;
    url: string;
    urlText?: string;
    category: string;
    year: number;
    img?: {
      src: ImageMetadata;
      alt: string;
    };
  }>;
}

const { items } = Astro.props;
---

<ul class="work-list">
  {
    items.map((item) => (
      <li>
        <details name="work">
          <summary aria-label={item.title}>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="disclosure-icon"
              role="presentation"
            >
              <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z" />
            </svg>
            <h3>{item.title}</h3>
            <div class="work-meta">
              <span class="work-category">{item.category}</span>
              <time class="work-year">{item.year}</time>
            </div>
          </summary>
          <div class="details-content">
            <div class="work-details">
              <p class="work-description">{item.description}</p>
              <a href={item.url} class="work-link">
                {item.category === "writing" || item.category === "case study"
                  ? "Read more"
                  : item.urlText || "Visit"}
              </a>
            </div>
            {item.img && (
              <Image
                src={item.img.src}
                alt={item.img.alt}
                layout="constrained"
              />
            )}
          </div>
        </details>
      </li>
    ))
  }
</ul>

<style>
  .work-list {
    --inline-padding: var(--space-l);
    list-style: none;
    padding: 0;
    margin-inline: calc(var(--inline-padding) * -1);
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .work-list li {
    position: relative;

    & + li::after {
      content: "";
      position: absolute;
      top: -1px;
      left: var(--inline-padding);
      right: var(--inline-padding);
      height: 1px;
      background-color: var(--gray-5);
      z-index: -1;
    }
  }

  details {
    interpolate-size: allow-keywords;

    &[open] > summary .disclosure-icon {
      rotate: 90deg;
      color: var(--gray-12);
    }

    &[open] > summary h3 {
      font-weight: var(--font-weight-bold);
      text-overflow: unset;
      overflow: visible;
      white-space: normal;
    }

    &::details-content {
      overflow: hidden;
      transition: content-visibility, block-size, opacity;
      transition-duration: 0.2s;
      content-visibility: hidden;
      block-size: 0;
      transition-behavior: allow-discrete;
      opacity: 0;
    }

    &[open]::details-content {
      block-size: auto;
      content-visibility: visible;
      opacity: 1;
    }
  }

  summary {
    position: relative;
    display: flex;
    align-items: baseline;
    gap: var(--space-m);
    border-radius: var(--radius-s);
    padding-inline: var(--inline-padding);
    padding-block: var(--space-s);
    cursor: pointer;
    user-select: none;

    &:focus-visible {
      outline: var(--gray-12) solid 2px;
    }

    .disclosure-icon {
      width: 1em;
      height: auto;
      color: var(--gray-10);
      position: absolute;
      left: 0;
      top: 50%;
      translate: 0 -50%;
      rotate: 0deg;
      transition: rotate, color;
      transition-duration: 0.15s;
      transition-timing-function: ease-in-out;
    }

    @media (width < 460px) {
      padding-inline-end: var(--space-2xl);

      .disclosure-icon {
        right: var(--inline-padding);
        left: auto;
        rotate: -90deg;
        width: 1.4em;
      }
    }

    @media (hover: hover) {
      &:hover h3 {
        font-weight: var(--font-weight-bold);
      }

      &:hover .disclosure-icon {
        color: var(--gray-12);
      }
    }

    h3 {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      transition: font-weight 0.15s ease-in-out;
      max-width: 100%;
    }

    .work-year {
      font-variant-numeric: tabular-nums;
    }

    .work-category,
    .work-year {
      color: var(--gray-11);
    }

    .work-meta {
      display: flex;
      gap: var(--space-s);

      @media (width < 460px) {
        font-size: var(--step--1);
      }
    }

    @media (width < 460px) {
      flex-direction: column;
      gap: 0;

      .work-meta {
        flex-direction: row-reverse;
      }
    }
  }

  .details-content {
    padding-inline: var(--inline-padding);
    padding-block-end: var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    width: 100%;

    img {
      background-color: var(--gray-3);
      display: block;
      aspect-ratio: 1.91 / 1;
      border-radius: var(--radius-xs);
      height: auto;
      object-fit: cover;
    }

    @media (width > 640px) {
      flex-direction: row;

      img {
        width: 400px;
      }
    }
  }

  .work-details {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    .work-link {
      text-decoration: none;
      font-weight: var(--font-weight-bold);
      padding: var(--space-2xs) var(--space-s);
      border-radius: var(--radius-s);
      background-color: var(--gray-3);
      text-align: center;

      @media (hover: hover) {
        &:hover {
          background-color: var(--gray-4);
        }
      }
    }
  }
</style>
