---
import { type CollectionEntry, getCollection } from "astro:content";

import ProjectInfo from "../../components/ProjectInfo.astro";
import ProseLayout from "../../layouts/ProseLayout.astro";

export interface Props {
  project: CollectionEntry<"projects">;
  prev: CollectionEntry<"projects"> | null;
  next: CollectionEntry<"projects"> | null;
}

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project, index) => ({
    params: { slug: project.slug },
    props: {
      project,
      prev: projects[index - 1] ?? projects[projects.length - 1],
      next: projects[index + 1] ?? projects[0],
    },
  }));
}
const { project, prev, next } = Astro.props;
const { Content } = await project.render();

const { data } = project;
const { title, description } = data;
---

<ProseLayout title={title} description={description}>
  <ProjectInfo project={project} />
  <Content />
  <div class="pagination">
    {
      prev && (
        <a href={prev.slug} class="prev">
          <span class="label">Previous</span>
          <span class="title">{prev.data.title}</span>
        </a>
      )
    }
    {
      next && (
        <a href={next.slug} class="next">
          <span class="label">Next</span>
          <span class="title">{next.data.title}</span>
        </a>
      )
    }
  </div>
</ProseLayout>

<style lang="scss">
  .pagination {
    display: flex;
    margin-block-start: var(--space-3xl);
    gap: var(--space-m);
    clear: both;

    @media (width < 600px) {
      flex-direction: column;
      gap: var(--space-m);
    }

    a {
      flex: 1;
      display: grid;
      column-gap: var(--space-m);
      padding: var(--space-m);
      border-radius: var(--radius-m);
      border: 1px solid var(--gray-5);
      line-height: 1.1;
      align-items: center;
      transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

      &.prev {
        grid-template-columns: auto 1fr;
        grid-template-areas:
          "arrow label"
          "arrow title";
      }

      &.next {
        grid-template-columns: 1fr auto;
        grid-template-areas:
          "label arrow"
          "title arrow";
        text-align: right;
      }

      &.prev::before,
      &.next::after {
        font-size: var(--step-1);
        color: var(--gray-10);
        transition: color 0.2s ease-in-out;
      }

      &.prev::before {
        content: "←";
        grid-area: arrow;
      }

      &.next::after {
        content: "→";
        grid-area: arrow;
      }

      .label {
        grid-area: label;
        font-size: var(--step--1);
        color: var(--gray-11);
        transition: color 0.2s ease-in-out;
      }

      .title {
        grid-area: title;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--gray-3);
          color: var(--gray-12);
          border-color: var(--gray-6);

          &::before,
          &::after {
            color: var(--gray-12);
          }
        }
      }
    }
  }
</style>
