---
import { type CollectionEntry, getCollection } from "astro:content";
import dayjs from "dayjs";

import Center from "../../components/Center.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const projects = await getCollection("projects");

const projectsGroupedByYear = projects.reduce(
  (acc: Record<number, Array<CollectionEntry<"projects">>>, project) => {
    const year = dayjs(project.data.datePublished).year();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(project);
    return acc;
  },
  {}
);

const title = "Projects";
const description = "Utilities and artworks for the web.";
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  <Center>
    <section class="projects">
      {
        Object.entries(projectsGroupedByYear)
          .reverse()
          .map(([year, projects]) => (
            <section>
              <h2 class="year">
                <time datetime={year}>{year}</time>
              </h2>
              <div class="projects-list">
                {projects
                  .sort((a, b) =>
                    dayjs(a.data.datePublished).isAfter(
                      dayjs(b.data.datePublished)
                    )
                      ? -1
                      : 1
                  )
                  .map(({ data }) => (
                    <ProjectPreview
                      title={data.title}
                      description={data.description}
                      datePublished={data.datePublished}
                      img={data.img}
                      imgAlt={data.imgAlt}
                      url={data.url}
                      repo={data.repo}
                      disabled={data.draft}
                      video={data.video}
                      videoPoster={data.videoPoster}
                    />
                  ))}
              </div>
            </section>
          ))
      }
    </section>
  </Center>
</BaseLayout>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-block: 2em 4em;
  }

  .year {
    display: block;
    background-color: var(--gray-1);
    position: sticky;
    top: 0;
    font-size: var(--step-3);
    padding-block: var(--space-s);
    z-index: 1;
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .banner {
    background: var(--gray-3);
    border-radius: var(--radius-s);
    padding: var(--space-m) var(--space-l);

    p {
      line-height: 1.2;
      margin-block-start: var(--space-2xs);
    }

    a {
      color: var(--gray-9);
      text-decoration: underline;
    }
  }
</style>
