---
import { getCollection } from "astro:content";

import Center from "../../components/Center.astro";
import PageHeader from "../../components/PageHeader.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const projects = await getCollection("projects");
const sideProjects = await getCollection("sideProjects");

// Sort by year subdirectory
const sortedProjects = projects.sort((a, b) =>
  parseInt(a.id.substring(0, 4)) > parseInt(b.id.substring(0, 4)) ? -1 : 1
);

const title = "Projects";
const description = "A collection of tools I've helped design and build.";
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  <PageHeader title={title} description={description} />
  <Center>
    <section class="projects">
      {sortedProjects.map((project) => <ProjectPreview project={project} />)}
    </section>
    <section class="side-projects">
      <h2>Other little projects</h2>
      {
        sideProjects.map(({ data }) => (
          <a href={data.url} class="side-project">
            <strong>{data.title}</strong>
            {data.description && (
              <span class="description">{data.description}</span>
            )}
          </a>
        ))
      }
    </section>
  </Center>
</BaseLayout>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
  }

  .side-projects {
    margin-block-start: var(--space-3xl);

    h2 {
      margin-block-end: var(--space-l);
    }
  }

  .side-project {
    display: block;
    word-wrap: break-word;
    padding-block: var(--space-s);
    padding-inline: 0 var(--space-s);
    transition: 0.15s padding ease;

    & + .side-project {
      border-top: 1px solid var(--gray-4);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        padding-inline: var(--space-s) 0;
      }
    }
  }

  :global(.transitioning) .side-project {
    transition: border-color 0.2s ease-in-out;
  }

  .description {
    color: var(--gray-11);

    &::before {
      content: "— ";
    }
  }

  :global(.transitioning) .description {
    transition: color 0.2s ease-in-out;
  }
</style>
