---
import { Icon } from "@components";

import * as styles from "./footer.css";
import LastTended from "./LastTended.astro";

// Vercel Access Token
const accessToken = import.meta.env.VERCEL_ACCESS_TOKEN;
// Fetch evadecker.com Vercel project
const projectId = "prj_pMk8EbUuHxsj51ERiVXZyANy9ZPC";
// Fetch only READY deploys
const state = "READY";
// Fetch only production deploys
const target = "production";
// Fetch only latest
const limit = 1;

let dateModified: Date | null = null;

try {
  // https://vercel.com/docs/rest-api/endpoints#list-deployments
  const response = await fetch(
    `https://api.vercel.com/v6/deployments?projectId=${projectId}&state=${state}&target=${target}&limit=${limit}`,
    {
      method: "GET",
      headers: {
        Authorization: `Bearer ${accessToken}`,
      },
    }
  );
  const data = await response.json();
  const { ready } = data.deployments[0];
  dateModified = new Date(ready);
} catch (error) {
  dateModified = null;
}
---

<footer class={styles.footer}>
  <div class={styles.footerContent}>
    <div class={styles.links}>
      <div class={styles.linkCol}>
        <a
          class={styles.link}
          href="https://github.com/evadecker"
          target="_blank"
          aria-label="Visit Eva's GitHub"
        >
          <Icon icon="github" variant="filled" className={styles.linkIcon} />
          <span class={styles.linkText}>Github</span>
        </a>
        <a
          class={styles.link}
          href="https://linkedin.com/in/evadecker"
          target="_blank"
          aria-label="Visit Eva's LinkedIn"
        >
          <Icon
            icon="linkedInBox"
            variant="filled"
            className={styles.linkIcon}
          />
          <span class={styles.linkText}>LinkedIn</span>
        </a>
        <a
          class={styles.link}
          href="/eva-decker-resume.pdf"
          target="_blank"
          aria-label="View Eva's Resume"
        >
          <Icon icon="download" className={styles.linkIcon} />
          <span class={styles.linkText}>Resume</span>
        </a>
      </div>
      <div class={styles.linkCol}>
        <a class={styles.link} href="/colophon">
          <span class={styles.linkText}>Colophon</span>
        </a>
      </div>
    </div>
    <LastTended dateModified={dateModified} />
  </div>
</footer>
