---
import { Icon } from "@components";
import dayjs from "dayjs";
import advancedFormat from "dayjs/plugin/advancedFormat";
import localizedFormat from "dayjs/plugin/localizedFormat";
import relativeTime from "dayjs/plugin/relativeTime";
import timezone from "dayjs/plugin/timezone";

import * as styles from "./footer.css";

const { timestamp } = Astro.props;

dayjs.extend(timezone); // Support 'z' to display timezone
dayjs.extend(localizedFormat); // Support 'LLLL' to display full date
dayjs.extend(advancedFormat); // Support 'z' to display timezone
dayjs.extend(relativeTime); // Support .fromNow()

let formattedTimestamp: string;
let relativeTimeInWords: string;

if (timestamp !== null) {
  formattedTimestamp = dayjs(timestamp).format("LLLL z");
  relativeTimeInWords = dayjs(timestamp).fromNow();
} else {
  formattedTimestamp = "";
  relativeTimeInWords = "at some point in time";
}
---

<div class={styles.lastTended}>
  <Icon icon="seedling" size="small" className={styles.lastTendedIcon} />
  <small>
    Last tended{" "}
    <time datetime={dayjs(timestamp).format()} title={formattedTimestamp}
      >{relativeTimeInWords}</time
    >
  </small>
</div>
