---
import "../styles/base.css";
import "../styles/animation.css";

import type { TransitionAnimationPair } from "astro";

import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import { Stickers } from "../components/Stickers/Stickers";
import UnstyledBase from "./UnstyledBase.astro";

interface Props {
  title: string;
  description: string;
  includeFooter?: boolean;
  padTop?: boolean;
  padBottom?: boolean;
  ogImage?: string;
  ogAlt?: string;
}

const { title, description, includeFooter, padTop, padBottom, ogImage, ogAlt } =
  Astro.props;

const forwards: TransitionAnimationPair = {
  old: {
    name: "fadeOutUp",
    duration: "0.2s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "fadeInUp",
    duration: "0.3s",
    delay: "0.2s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const backwards: TransitionAnimationPair = {
  old: {
    name: "fadeOutDown",
    duration: "0.2s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "fadeInDown",
    duration: "0.3s",
    delay: "0.2s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const viewTransition = {
  forwards,
  backwards,
};
---

<UnstyledBase
  title={title}
  description={description}
  ogImage={ogImage}
  ogAlt={ogAlt}
>
  <script is:inline src="/scripts/preloadTheme.js"></script>
  <Header />
  <main
    class:list={["main", { padTop }, { padBottom }]}
    transition:animate={viewTransition}
  >
    <slot />
  </main>
  {includeFooter && <Footer />}
  <slot name="after-footer" />
  <Stickers client:idle transition:persist="stickers" />
</UnstyledBase>

<style>
  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-8px);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(16px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(8px);
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-16px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main.padTop {
    padding-block-start: var(--space-3xl);
  }

  .main.padBottom {
    padding-block-end: var(--space-3xl);
  }
</style>
