---
import "../styles/prose.css";

import Center from "../components/Center.astro";
import { RelativeDate } from "../components/RelativeDate/RelativeDate";
import Stack from "../components/Stack.astro";
import Subscribe from "../components/Subscribe/Subscribe.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  includeFooter
>
  <Center>
    <article itemscope itemtype="https://schema.org/BlogPosting">
      <header class="article-header">
        <Stack>
          <h1 itemprop="name">{frontmatter.title}</h1>
          <p class="subtitle">{frontmatter.description}</p>
          <Stack>
            <RelativeDate
              date={frontmatter.datePublished}
              prefix="Published"
              icon="seedling"
              client:load
            />
            {
              frontmatter.dateModified && (
                <RelativeDate
                  date={frontmatter.dateModified}
                  prefix="Last tended"
                  icon="sparkling"
                  client:load
                />
              )
            }
          </Stack>
        </Stack>
      </header>
      <section itemprop="articleBody" class="prose">
        <slot />
      </section>
    </article>
    <Subscribe />
  </Center>
</BaseLayout>
