---
import "../styles/prose.css";

import PageHeader from "../components/PageHeader.astro";
import { smartquotes } from "../helpers/helpers";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description: string;
  datePublished?: Date;
  dateModified?: Date;
  img?: ImageMetadata[];
  imgAlt?: string;
  ogImage?: string;
  ogAlt?: string;
}

const {
  title,
  description,
  datePublished,
  dateModified,
  img,
  imgAlt,
  ogImage,
  ogAlt,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={smartquotes(description)}
  includeFooter
  padBottom
  ogImage={ogImage}
  ogAlt={ogAlt}
>
  <article itemscope itemtype="https://schema.org/BlogPosting">
    <PageHeader
      title={title}
      description={smartquotes(description)}
      datePublished={datePublished}
      dateModified={dateModified}
      img={img}
      imgAlt={imgAlt}
    />
    <section itemprop="articleBody" class="prose">
      <slot />
    </section>
    <slot name="after-prose" />
  </article>
</BaseLayout>
