---
import { PublishDates } from "@components";
import { Layout } from "@layouts";

import * as styles from "./prose.css";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article
    itemscope
    itemtype="https://schema.org/BlogPosting"
    class={styles.article}
  >
    <header class={styles.header}>
      <h1 itemprop="name">{frontmatter.title}</h1>
      <p class={styles.subtitle}>{frontmatter.description}</p>
      <PublishDates
        datePublished={frontmatter.datePublished}
        dateModified={frontmatter.dateModified}
        client:load
      />
    </header>
    <section itemprop="articleBody" class={styles.articleBody}>
      <slot />
    </section>
  </article>
</Layout>
