---
import { Layout } from "@layouts";
import dayjs from "dayjs";
import advancedFormat from "dayjs/plugin/advancedFormat";
import localizedFormat from "dayjs/plugin/localizedFormat";
import relativeTime from "dayjs/plugin/relativeTime";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";

import * as styles from "./prose.css";

dayjs.extend(utc);
dayjs.extend(timezone);
dayjs.extend(localizedFormat);
dayjs.extend(relativeTime);
dayjs.extend(advancedFormat);

dayjs.tz.setDefault("America/New_York");

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article
    itemscope
    itemtype="https://schema.org/BlogPosting"
    class={styles.article}
  >
    <header class={styles.header}>
      <h1 itemprop="name">{frontmatter.title}</h1>
      <p class={styles.subtitle}>{frontmatter.description}</p>
      {
        frontmatter.datePublished && (
          <div class={styles.datePublished}>
            <div>
              Published
              <time
                datetime={frontmatter.datePublished}
                title={dayjs(frontmatter.datePublished).format("LLLL z")}
                itemprop="datePublished"
              >
                {dayjs(frontmatter.datePublished).fromNow()}
              </time>
            </div>
            {frontmatter.dateModified && (
              <div>
                Last tended
                <time
                  datetime={frontmatter.dateModified}
                  title={dayjs(frontmatter.dateModified).format("LLLL z")}
                  itemprop="dateModified"
                >
                  {dayjs(frontmatter.dateModified).fromNow()}
                </time>
              </div>
            )}
          </div>
        )
      }
    </header>
    <section itemprop="articleBody" class={styles.articleBody}>
      <slot />
    </section>
  </article>
</Layout>
