---
import "../styles/prose.css";

import Center from "../components/Center.astro";
import { RelativeDate } from "../components/RelativeDate/RelativeDate";
import Stack from "../components/Stack.astro";
import Subscribe from "../components/Subscribe/Subscribe.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description: string;
  datePublished: Date;
  dateModified?: Date;
}

const { title, description, datePublished, dateModified } = Astro.props;
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  <Center>
    <article itemscope itemtype="https://schema.org/BlogPosting">
      <header class="article-header">
        <Stack>
          <h1 itemprop="name">{title}</h1>
          <p class="subtitle">{description}</p>
          <Stack>
            <RelativeDate
              date={datePublished}
              prefix="Published"
              icon="seedling"
              client:load
            />
            {
              dateModified && (
                <RelativeDate
                  date={dateModified}
                  prefix="Last tended"
                  icon="sparkling"
                  client:load
                />
              )
            }
          </Stack>
        </Stack>
      </header>
      <section itemprop="articleBody" class="prose">
        <slot />
      </section>
    </article>
    <Subscribe />
  </Center>
</BaseLayout>
