---
import Center from "../components/Center/Center.astro";
import Footer from "../components/Footer/Footer.astro";
import { PublishDates } from "../components/PublishDates/PublishDates";
import Subscribe from "../components/Subscribe/Subscribe.astro";
import BaseLayout from "./BaseLayout.astro";
import * as styles from "./prose.css";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <main class={styles.main}>
    <Center>
      <article
        itemscope
        itemtype="https://schema.org/BlogPosting"
        class={styles.article}
      >
        <header class={styles.header}>
          <h1 itemprop="name">{frontmatter.title}</h1>
          <p class={styles.subtitle}>{frontmatter.description}</p>
          <PublishDates
            datePublished={frontmatter.datePublished}
            dateModified={frontmatter.dateModified}
            client:load
          />
        </header>
        <section itemprop="articleBody" class={styles.articleBody}>
          <slot />
        </section>
      </article>
      <Subscribe />
    </Center>
  </main>
  <Footer />
</BaseLayout>
