---
import { RelativeDate } from "../RelativeDate/RelativeDate";
import { NOTECARD_THEMES } from "./NotecardComposer";

interface Props {
  content: string;
  url?: string | null;
  author: string;
  timestamp: Date;
  theme: number;
}

const { content, url, author, timestamp, theme } = Astro.props;

const rotation = `${Math.random() * 6 - 3}deg`;
const translateX = `${Math.random() * 24 - 12}px`;
const backgroundImage = `url(${NOTECARD_THEMES[theme].src})`;
---

<div class="notecard">
  <pre class="content">{content}</pre>
  <div class="credit">
    <div class="author">
      {
        url ? (
          <a href={url} rel="external" data-fathom="author-link">
            {author}
          </a>
        ) : (
          author
        )
      }
    </div>
    <div class="date">
      <RelativeDate date={timestamp} />
    </div>
  </div>
</div>

<style
  lang="scss"
  define:vars={{ background: backgroundImage, rotation, translateX }}
>
  .notecard {
    aspect-ratio: 4 / 3;
    font-family: var(--font-mono);
    padding: var(--space-3xl);
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: var(--background);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(var(--translateX)) rotate(var(--rotation));
  }

  .content {
    width: 28ch;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .credit {
    align-self: flex-end;
    text-align: right;
  }

  .author {
    a {
      text-decoration-color: inherit;
    }
  }

  .date {
    font-size: var(--step--1);
  }
</style>

<script>
  import * as Fathom from "fathom-client";

  document.addEventListener("astro:page-load", () => {
    document
      .querySelectorAll("[data-fathom='author-link']")
      .forEach((author) => {
        author.addEventListener("click", () => {
          const url = author.getAttribute("href");
          Fathom.trackEvent(`guestbook: click link (${url})`);
        });
      });
  });
</script>
