---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import { RelativeDate } from "../RelativeDate/RelativeDate";
import { TOTAL_THEMES } from "./NotecardComposer";

interface Props {
  content: string;
  url?: string | null;
  author: string;
  timestamp: Date;
  theme: number;
}

const { content, url, author, timestamp, theme } = Astro.props;

const rotation = `${Math.random() * 6 - 3}deg`;
const translateX = `${Math.random() * 24 - 12}px`;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "./notecards/*.png"
);
const fileName = `notecard${theme <= TOTAL_THEMES ? theme : 1}.png`;
const imagePath = `./notecards/${fileName}`;

if (!images[imagePath])
  throw new Error(`"${imagePath}" does not exist in glob: "./notecards/*.png"`);
---

<div class="notecard">
  <pre class="content">{content}</pre>
  <div class="credit">
    <div class="author">
      {
        url ? (
          <a href={url} rel="external">
            {author}
          </a>
        ) : (
          author
        )
      }
    </div>
    <div class="date">
      <RelativeDate date={timestamp} />
    </div>
  </div>
  <Image
    src={images[imagePath]()}
    alt="A notecard"
    width="570"
    quality={95}
    class="background"
  />
</div>

<style lang="scss" define:vars={{ rotation, translateX }}>
  .notecard {
    aspect-ratio: 4 / 3;
    font-family: var(--font-mono);
    padding: var(--space-3xl);
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(var(--translateX)) rotate(var(--rotation));
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .content {
    width: 28ch;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .credit {
    align-self: flex-end;
    text-align: right;
  }

  .author {
    a {
      text-decoration-color: inherit;
    }
  }

  .date {
    font-size: var(--step--1);
  }
</style>
