---
import { RelativeDate } from "../RelativeDate/RelativeDate";
import { NOTECARD_THEMES } from "./NotecardComposer";

interface Props {
  content: string;
  url?: string | null;
  author?: string;
  timestamp?: Date;
  theme: number;
  small?: boolean;
  randomTranslate?: boolean;
  loading?: boolean;
}

const {
  content,
  url,
  author,
  timestamp,
  theme,
  small = false,
  randomTranslate = false,
  loading = false,
} = Astro.props;

const rotation = `${Math.random() * 6 - 3}deg`;
const translateX = randomTranslate ? `${Math.random() * 24 - 12}px` : 0;
const backgroundImage = `url(${NOTECARD_THEMES[theme].src})`;
---

<div class:list={["notecard", { small, loading }]}>
  <pre class="content">{content}</pre>
  <div class="credit">
    {
      author && (
        <div class="author">
          {url ? (
            <a href={url} rel="external" data-fathom="author-link">
              {author}
            </a>
          ) : (
            author
          )}
        </div>
      )
    }
    {
      timestamp && (
        <div class="date">
          <RelativeDate date={timestamp} />
        </div>
      )
    }
  </div>
</div>

<style define:vars={{ background: backgroundImage, rotation, translateX }}>
  @keyframes loading {
    0% {
      opacity: 0.2;
    }

    100% {
      opacity: 0.5;
    }
  }

  .notecard {
    aspect-ratio: 4 / 3;
    font-family: var(--font-mono);
    padding: 5.5ch;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: var(--background);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(var(--translateX)) rotate(var(--rotation));

    &.small {
      font-size: 0.8em;
    }

    &.loading {
      animation: loading 0.8s infinite ease alternate;
    }
  }

  .content {
    width: 28ch;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .credit {
    align-self: flex-end;
    text-align: right;
  }

  .author {
    a {
      text-decoration-color: inherit;
    }
  }

  .date {
    font-size: 0.85em;
  }
</style>

<script>
  import * as Fathom from "fathom-client";

  document.addEventListener("astro:page-load", () => {
    document
      .querySelectorAll("[data-fathom='author-link']")
      .forEach((author) => {
        author.addEventListener("click", () => {
          const url = author.getAttribute("href");
          Fathom.trackEvent(`guestbook: click link (${url})`);
        });
      });
  });
</script>
